*{
    box-sizing: border-box;
}

:root{
    --theme: orange;
    --bgi: #222;
    --br: 20px;
    --text-width: min(800px, 90vw);
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    background-color: white;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 var(--br);
    position: relative;
}

.selector{
    transition: transform 0.5s;
    position: absolute;
    width: calc(33% - var(--br) / 2);
    height: 100%;
    backdrop-filter: invert(90%);
    -webkit-backdrop-filter: invert(100%);
    border-left: 5px solid var(--theme);
    border-right: 5px solid var(--theme);
}

.atmenu{
    transform: translateX(-100%);
}

.atabout{
    transform: translateX(100%);
}

li{
    list-style: none;
    flex: 1 1 0;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

li:hover{
    color: var(--theme);
}

#body>div{
    background-color: white;
    flex: 1 0 0;
}

.home, .menu, .about{
    background-color: white;
    display: none;
}

.home.showpage {
    background-image: url(./assets/coffeeshop.jpg);
    background-size: cover;
    background-position: center;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    z-index: -1;

    text-align: center;
}

.home>div{
    padding: 30px;
    backdrop-filter: blur(10px) brightness(50%);
    border-radius: 5px;
    max-width: var(--text-width);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1{
    font-size: 3rem;
    color: var(--theme);
    font-weight: bold;
}

P{
    line-height: 1.5rem;
}

.showpage {
    display: block;
}