*{
    box-sizing: border-box;
}

:root{
    --theme: orange;
    --br: 20px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #ddd;
}

#content{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 var(--br);
    position: relative;
}

.selector{
    transition: transform 0.5s;
    position: absolute;
    width: calc(33% - var(--br) / 2);
    height: 100%;
    backdrop-filter: invert(100%);
    -webkit-backdrop-filter: invert(100%);
    border-left: 5px solid var(--theme);
    border-right: 5px solid var(--theme);
}

.atmenu{
    transform: translateX(-100%);
}

.atabout{
    transform: translateX(100%);
}

li{
    list-style: none;
    flex: 1 1 0;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

#content>div{
    background-color: white;
    flex: 1 0 0;
    padding: 20px;
}

.home {
    display: none;
}

.menu {
    display: none;
}

.about {
    display: none;
}

.showpage {
    display: block;
}